@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    background-color: #F0F2F5;
}

.dashboard{
    display: flex;
}
.dashboard-body{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
  height: 10vh;
  background-color: #fffefe;
  font-family: "Outfit", sans-serif;
  align-items: center;
  
}

.greetings{
    color: #A52A2A;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.user{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-right: 20px;
}

.username{
  font-size: 25px;
}
.usericon{
    width: 45px;
    margin-bottom: 5px;
}

.metrics{
    display: flex;
    width: 100%;
    height: 30vh;
    margin-top: 30px;
    
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}

.metric-card{
    background-color: #fffefe;
    border-radius: 5px;
    width: 290px;

    z-index: 10;
}

.recentlogs{
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: row;
}


.sidebar{
    background-color: #A52A2A;
    width: 35vh;
    height: 100vh;
}

.sidebar-items{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.sidebar-items svg{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.sidebar-items span:hover .sidebar-icon {
    fill: #A52A2A; 

}

.logo{
    padding: 25px;
    margin-bottom: 40px;
}

.sidebar-items span {
    position: relative;
    color: #FAF0E6;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 10px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 1;
    background: #A52A2A;
    transition: color 0.2s;
}

.sidebar-items span::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: #F0F2F5;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    z-index: 0;
    transition: width 0.3s cubic-bezier(0.77,0,0.175,1);
}

.sidebar-items span:hover::after {
    width: 95%;
}

.sidebar-items span {
    position: relative;
    z-index: 1;
}

.sidebar-items span > * {
    position: relative;
    z-index: 2;
}

.sidebar-items span:hover {
    color: #A52A2A;
}

.logout{
    margin-top: 70px;
}