@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.button-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7vh;
    align-content: center;
    gap:20px;
    padding: 20px;

}
.essential-buttons{
    display: flex;
    flex-direction: row;
    gap:10px;
    width: 50%;
    z-index: 9;
}
.sort-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    gap:10px;
}

.sortupdown.btn{
    display: flex;
    height: 40px;
    background-color: #fffefe !important;
    border-style: none;
    color: #A52A2A;
    font-size: 25px;
    align-items: center;
    
}

.table-container2{
    padding: 20px;
}
.tchr-title{
    width: 100%;
    background-color: #fffefe;
    margin-bottom: 20px;
    border-radius: 10px;
}
.filterdrop .btn {
  background-color: #FFFFFF !important;
  border-color: #dee2e6; 
  color: #000; 
  height: 40px;
}

.filterdrop .btn svg { 
  width: 30px;
  height: 30px;
}

.selected-filter,
.dropdown-item.active {
    background-color: #A52A2A !important; 
    color: #fff !important;
}


.tchr-table{
    background-color: #fffefe;
    border-radius: 20px;
    width: 100%;
    
}

.tchr-table-scroll{
    max-height: 473px;
    overflow-y: auto;
}

.tchr-title, .tchr-table {
    table-layout: fixed;
    width: 100%;
}

.tchr-table tr{
    align-items: center;
    height: 40px;
    
}

.tchr-table tr:hover {
   background-color: #cdcdcd;
}
.opensubject.btn{
    height: 40px;
    background-color: #fffefe;
    color: #A52A2A;
    border:#A52A2A solid 2px;
    font-weight: 400;
    
}

.opensubject.btn:hover{
    background-color: #A52A2A;
    color: #fffefe;
}
.config-buttons{
    display: flex;
    justify-content: center;   
    align-items: center;       
    gap: 20px;
}
.config-button{
     transition: transform 0.3s ease-in-out;
}
.config-button:hover{
    fill: #fffefe !important;
    cursor: pointer;
    transform: scale(1.1);
}

.tchr-title th{
    padding: 15px 15px 10px 10px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}
.tchr-table td {
    padding: 10px 10px 10px 10px; 
    font-size: 17px;
    font-weight: 600;
}

.tchr-table td:hover {
   background-color: #cdcdcd;
}

.tchr-title th:nth-child(1),
.tchr-table td:nth-child(1) {
    text-align: center;
}

.tchr-title th:nth-child(2),
.tchr-table td:nth-child(2) {
    text-align: center;
}


.tchr-title th:nth-child(4),
.tchr-table td:nth-child(4) {
    text-align: center;
}

.tchr-title th:nth-child(1), .tchr-table td:nth-child(1) { width: 5%; }
.tchr-title th:nth-child(2), .tchr-table td:nth-child(2) { width: 10%; }
.tchr-title th:nth-child(3), .tchr-table td:nth-child(3) { width: 10%; }
.tchr-title th:nth-child(4), .tchr-table td:nth-child(4) { width: 10%; }


.save-button.btn{
    background-color: #A52A2A !important;
    border-style: none;
    height: 40px;
}


.modal-body{
    background-color:#F0F2F5 !important ;
    width: 96%;
    border-radius: 10px;
    margin-left: 10px;
}
.modal-title{
    font-family: 'Outfit',sans-serif;
    font-size: 40px;
    color: #A52A2A;
}

.modal-header{
    border-style: none;
    border-top: #A52A2A solid 30px;
}

.modal-footer{
    border-style: none;
}

.form-label{
    font-family: 'Inter',sans-serif;
    color: #000;
    margin-top: 5px;
}

.form-control:focus{
    outline: #A52A2A auto 5px;
    box-shadow: none;
}

.details p {
    font-size: 20px;
    font-weight: 400;
    color: #000;
}
.details p strong {
    font-size: 25px;
    color: #A52A2A;
}